.category-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  align-items: center;
}

ion-progress-bar {
  height: 8px;
  border-radius: 4px;
}

.percentage-text {
  margin-top: 2px;
  color: var(--ion-color-medium);
}